body {
  margin: 0 auto;
  background-color: #fffafa;
  width: 100%;
  
}
/*tela de boas vindas*/

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 300px;
  width: 100%;
  gap: 1rem;
  margin: 0 auto;
}
.bem-vindo {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.bem-vindoinicio {
  padding: 10px;
  margin: 1.25rem;
  white-space: nowrap;
  font-size: 1.75rem;
  
}
.foto1 {
  max-width: 100%;
}
.slogan {
  
  width: 70%;
  font-size: 0.90rem;
  text-justify:distribute-all-lines;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}
.slogan p {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.btnsinicio {
  margin-top: 6rem;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 1rem;
  margin-left: 30px;
  
}

button {
  border-radius: 50px;
  padding: 12px 8px;
  font-size: 1rem;
  width: 100%;
  gap: 3rem;
}

input {
  border-radius: 8px;
  padding: 12px 8px;
  font-size: 1rem;
  /*width: 100%;*/
  border: 1px solid #999;
}
/*tela de login*/
.btnlogin {
  cursor: pointer;
  background-color: black;
  color: #fffafa;
  border: 1px solid #000000;
  text-decoration: none;
 /* border-radius: 50px;
  padding: 12px 8px;
  font-size: 1rem;
  width: 100%;*/
  text-align: center;
}
.btncadastrar {
  cursor: pointer;
  background-color: #fffafa;
  border: 1px solid #000000;
  color: #000000;
  border-radius: 50px;
  padding: 12px 8px;
  font-size: 1rem;
  width: 100%;
  text-align: center;

}
.loading {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}
.loading label {
  font-size: 1.5rem;
}
/* tela de login funcionario */
.error {
  color:#000000;
  display: none;
}
.flex-colunm {
  margin: 0 auto;
  width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  
}

.flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.btnentrarlogin {
  width: 100%;
  
}

.btnentrar {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #fffafa;
  border: 1px solid #000000;
  gap: 1rem;
}
/* tela de cadastro*/
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo-pagina {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.cadastro {
  margin: 0.5rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.home label {
  font-family: Arial, Helvetica, sans-serif;
}
.cadastro-empresa {
  width: 60%;
  display: flex;
  justify-items: center;
  flex-direction: column;
  gap: 0.6rem;
}
.etapas {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.etapa{
  width: 24px;
  height: 24px;
  border: 1px solid #999;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
}

.etapas .active{
  background-color: #4EEE94;
}
.sub-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;

}
.btnscadastro {
  display: flex;
  flex-direction: row;
  gap:1rem;
}


.btnproximo {
  cursor: pointer;
  background-color: #000000;
  color:#fffafa;
  border: 1px solid #000000;
}
.btnsalvar {
  cursor: pointer;
  background-color: #000000;
  color: #fffafa;
  border: 1px solid #000000;
}

/* tela do funcionario pra bater ponto */

.cabeca {
width: 100%;
}
.navbar {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  /*justify-content: space-around;*/
}
.nome-funcionario {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}
.mdi mdi-account {
  font-size: 2rem;
}
.at-once user cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tit  {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 2rem;

}
.campo {
  height: 100px;
  width: 90%;
  background-color: #bdbdbd;
  border-radius: 20px;
  border:  1px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 1.2rem;
}
.current-time {
  height: 60px;
  width: 93%;
  background-color:#C9C9C9;
  border-radius: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 1.25rem;
  font-weight: 600;
  border: 1px solid #c9c9c9;

}
.btn-bater-entrada {
  background-color: #fffafa;
  color: #000000;
  border: 1px solid #000000;
  
}
.btn-bater-entrada:hover {
  cursor: pointer;
  background-color: #000000;
  color:#fff;
  transition: 2s;
}


.mdi mdi-account {
  height: 50px;
}
/* tela banco de horas */

.home-funcionario {
  max-width: 300px;
  width: 100%;
  gap: 1rem;
  margin: 0 auto;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.campo-preechido {
  width: 55%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.validacao {
  background-color: #C9C9C9;
  border: 1px solid #999;
  width: 33%;
  height: 30px;
}
.forms {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.arrival {
  display: flex;
  flex-direction: column;
}
.account-clock {
  display: flex;
  flex-direction: column;
}
.atribol {
  display: flex;
}
.btnfuncionario {
  width: 38%;
}

.btnsalvar:hover {
  cursor: pointer;
  width: 90%;
  background-color: #000000;
  color:#fffafa;
  border: 1px solid #000000;
}

.btnsfluxofuncionario {
  position: static;
  height: 100px;
  width: 100%;
  background-color: #999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
}

.btnsfluxofuncionario span {
  display: flex;
  justify-content: center;
}
.mdi {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.alert {
  cursor: pointer;
  border: 1px solid #999;
  padding: 10px;
  /*background-color: #fff;*/
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.alert.ativo {
  background-color: #fffafa;
  
}
.clock-fast {
  cursor: pointer;
  border: 1px solid #999;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.clock-fast.ativo {
  background-color: #fffafa;
}
.account {
  cursor: pointer;
  border: 1px solid #999;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  
  
}
.account.ativo {
  background-color: #fffafa;
}
.footer {
  position: fixed;
  height: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
 /* max-width: 300px;*/
  width: 100%;
  background-color: #999;
  bottom: 0;

}
/* pagina de banco de horas*/
.sample-fields {
  padding: 0.20rem;
  margin: 0.20rem;
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
text-banco {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}
.sample-fields p {
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap:0.5;
}
.working-hours {
  height: 30px;
  padding: 0.25rem;
  margin: 0.25rem;
  width: 100%;
  border: 1px solid #999;
  color: #000000;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.acc-ta {
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: center;
}
.compare {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap:0.25rem;
}
.hours-left-complete-workload {
  padding: 0.25rem;
  margin: 0.25rem;
  height: 30px;
  width: 100%;
  border: 1px solid #999;
  color: #000000;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.stack {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap:0.25rem;
}
.overtime {
  padding: 0.25rem;
  margin: 0.25rem;
  height: 30px;
  width: 100%;
  border:1px solid #999;
  color: #000000;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.cake {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 0.25rem;
 
}
.day-off-week {
  padding: 0.25rem;
  margin: 0.25rem;
  height: 30px;
  width: 100%;
  border: 1px solid #999;
  color: #000000;
  display: flex;
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}
.off {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 0.25rem;
}
.vacation {
  padding: 0.25rem;
  margin: 0.25rem;
  height: 30px;
  width: 100%;
  border:1px solid #999;
  color: #000000;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}
/* tela de ausência */
.justifications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.justifications label {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
.texto {
  border: 2px solid #999;
  width: 93%;
}
.comprovante {
  width: 90%;
  border: 1.6px solid #999;
}
.btnjustification {
  width: 93%;
}
.btn-enviar-justificcation {
  cursor: pointer;
  width: 100%;
  background-color: #fffafa;
  color: #000000;
  border: 1px solid #000000;

}
.btn-enviar-justificcation:hover {
  cursor: pointer;
  background-color: #000000;
  color: #fff;
  transition: 2s;

}